@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fontspring-DEMO-integralcf-bold';
  src: url('/fonts/Integral-CF/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fontspring-DEMO-integralcf-regular';
  src: url('/fonts/Integral-CF/integralcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

